* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Proxima Nova", serif;
  font-size: 16px;
  color: #17494d;
}

h1 {
  font-size: 32px;
}

.main {
  display: flex;
  justify-content: center;
}

.wrap {
  display: flex;
  flex-direction: column;
  flex: auto;
  padding-right: 3%;
}

textarea {
  resize: vertical;
}

.container {
  display: flex;
  justify-content: space-around;
}

.frame {
  padding: 20px;
  border: 2px solid black;
  color: #17494d;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.close {
  padding: 0.75rem;
  margin: 0;
  border: none;
  background: 0 0;
  top: 0;
  right: 0;
  color: #17494d;
  font-size: 1rem;
  pointer-events: all;
  cursor: pointer;
  display: flex;
  position: absolute;
}

.contact {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.first__paragraph {
  margin: 0 0 1.5rem;
}

.lastparagraph {
  padding: 20px 15px;
}

.checkboxes {
  border-radius: 50%;
}

.button {
  padding: 8px 21px 7px;
  background-color: #17494d;
  border: 2px solid #17494d;
  margin: 20px;
  width: 95%;
  color: #fff;
  font-size: 21.3333333333px;
}

@media (max-width: 480px) {
  .container {
    flex-wrap: wrap;
  }
}
#js {
  position: relative;
}

.field__input:hover {
  border: 1px solid #00ffff;
}
.field__input:focus {
  border: 1px solid #0c8d8d;
}
.field__input:visited {
  border: 1px solid #8a020d;
}

.emailfield__input:hover {
  border: 1px solid #00ffff;
}
.emailfield__input:focus {
  border: 1px solid #0c8d8d;
}
.emailfield__input:visited {
  border: 1px solid #8a020d;
}

.field__textarea:hover {
  border: 1px solid #00ffff;
}
.field__textarea:focus {
  border: 1px solid #0c8d8d;
}
.field__textarea:visited {
  border: 1px solid #8a020d;
}

/*# sourceMappingURL=sales.css.map */
