@import "_variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Proxima Nova", serif;
  font-size: 16px;
  color: $text-color;
}

h1{
  font-size: $h3-size;
}
.main{
  display: flex;
  justify-content: center;

}

.wrap{
  display: flex;
  flex-direction: column;
  flex: auto;
  padding-right: 3%;

}
textarea {
  resize: vertical;
}
.container{
  display: flex;
  justify-content: space-around;
}

.frame{
  padding: 20px;
  border: 2px solid black;
  color: $text-color;
  display: flex;
  justify-content: flex-end;
}


.close{

  padding: .75rem;
  margin: 0;
  border: none;
  background: 0 0;
  top: 0;
  right: 0;
  color: $text-color;
  font-size: 1rem;
  pointer-events: all;
  cursor: pointer;
  display: flex;
  position: relative;
}

.contact{
  margin: 20px 0;
  display: flex;
  justify-content: center;

}

.first__paragraph{
  margin: 0 0 1.5rem;
}

.lastparagraph{
  padding: 20px 15px;
}

.checkboxes{
  border-radius: 50%;
}

.button{
  padding: 8px 21px 7px;
  background-color: $text-color;
  border: 2px solid $text-color;
  margin: 20px;
  width: 95%;
  color: $text-white;
  font-size: $h3-size*(2/3);
}

@media (max-width: 480px) {
  .container{
    flex-wrap: wrap;
  }

}

#js{
 position: relative;
}

.field__input{
  &:hover{
    border: 1px solid $hover;
  }
  &:focus{
    border: 1px solid $focus;
  }
  &:visited{
     border: 1px solid $visited;
   }
}

.emailfield__input{
  &:hover{
    border: 1px solid $hover;
  }
  &:focus{
    border: 1px solid $focus;
  }
  &:visited{
    border: 1px solid $visited;
  }
}

.field__textarea{
  &:hover{
    border: 1px solid $hover;
  }
  &:focus{
    border: 1px solid $focus;
  }
  &:visited{
    border: 1px solid $visited;
  }
}